/*Allgemeiner CSS-Code*/
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap');

@theme {
  --font-head: Poppins, sans-serif;
  --font-text: Inter, sans-serif; 
  --color-mainColor: #A3FFE4;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0f172a, #06b6d4);background: linear-gradient(to right, #020e52, #1E1B3A);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
}

